# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor or OS-specific files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Build artifacts
dist/
coverage/

# Temporary files
*.tmp
*.temp
